.btn {
  padding: 0.45rem 1.5rem 0.35rem;
}
.btn.btn-outline-white {
  border: 1px solid;
  color: white;
  border-color: white;
}

.gradient-custom {
  /* fallback for old browsers */
  background: black;

  /* Chrome 10-25, Safari 5.1-6 */
}

.hidden {
  display: none;
}

@media (max-width: 992px) {
  .navbar-nav {
    justify-content: space-evenly;
  }
}

.nav-link {
  cursor: pointer;
  .item-number {
    border-radius: 100%;
    height: 18px;
    width: 18px;
    font-size: 0.8rem;
    background-color: rgba(226, 32, 91, 0.77);
    color: #ffffff;
    text-align: top;
    position: relative;
    top: 0px;
    float: right;
    right: -3px;
  }
}
